# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[{src,test}/**.{ts,json,js}]
indent_size = 4
