# CAUTION: DO NOT ADD any authN tokens to this file (shouldn't happen easily, it is git-ignorer)
# to authenticate with package feed, see how to add a GH token to your user-level ~/.npmrc:
# https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-npm-registry#authenticating-with-a-personal-access-token

# if desired, store your GH access token in your home directoy's config file, ~/.npmrc file, by adding this line to it:
# //npm.pkg.github.com/:_authToken=<token>
# or update the user's token by logging in with your GH access token
# > npm login --scope=@microsoft --registry=https://npm.pkg.github.com

@microsoft:registry=https://npm.pkg.github.com/
always-auth=true
