# workflow on pull request to main
name: pull-request-validation

on:
  workflow_dispatch:    # allow for manual workflow triggering as needed
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
      fail-fast: false
    env:
      RUNNER_DEBUG: 1
      WF_USERNAME: davidjen@ppdevtools.onmicrosoft.com
      WF_USER_AAD_OBJECT_ID: 85fd1857-ddef-46f6-acf4-22a0d1df2cda
      WF_USER_ROLE: "System Customizer"

    steps:
    - uses: actions/checkout@v2
      with:
        lfs: true

    - name: Setup Node.js environment
      uses: actions/setup-node@v2-beta
      with:
        node-version: 14.x
        registry-url: https://npm.pkg.github.com

    - name: Build and test
      run: |
        npm config set //npm.pkg.github.com/:_authToken=${{ secrets.GPR_ACCESS_TOKEN }}
        npm ci
        npm run ci
      env:
        AZ_DevOps_Read_PAT: ${{ secrets.AZ_DevOps_Read_PAT }}

    - name: Check Execute Permissions
      if: matrix.os == 'ubuntu-latest'
      run: |
        if [ ! -x dist/pac_linux/tools/pac ]
        then
            echo "dist/pac_linux/tools/pac is not executable.  See \"Refreshing actions in dist folder\" in README.md" 1>&2
            exit 1
        fi

    - name: Test create-environment action with username/password
      uses: ./create-environment
      id: create-environment
      env:
        PP_ENV_NAME: ${{ format('pr-actions-{0}', runner.os) }}
      with:
        user-name: ${{ env.WF_USERNAME }}
        password-secret: ${{ secrets.PASSWORD_PPDEVTOOLS }}
        name: ${{ env.PP_ENV_NAME }}
        type: Sandbox
        region: unitedstates
        domain: ${{ env.PP_ENV_NAME }}

    - name: Test who-am-i action
      uses: ./who-am-i
      with:
        environment-url: ${{ steps.create-environment.outputs.environment-url }}
        user-name: ${{ env.WF_USERNAME }}
        password-secret: ${{ secrets.PASSWORD_PPDEVTOOLS }}

    - name: Test assign-user action without role assignment
      uses: ./assign-user
      with:
        user-name: ${{ env.WF_USERNAME }}
        password-secret: ${{ secrets.PASSWORD_PPDEVTOOLS }}
        environment: ${{ steps.create-environment.outputs.environment-url }}
        user: ${{ env.WF_USER_AAD_OBJECT_ID}}
        role: ${{ env.WF_USER_ROLE}}

    - name: Test unpack-solution action
      uses: ./unpack-solution
      with:
        solution-folder: 'out/CI/emptySolution/src'
        solution-file: 'src/test/data/emptySolution_0_1_0_0.zip'
        solution-type: 'Unmanaged'
        overwrite-files: true
        error-level: Error
        locale-template: 'en-US'
        localize: true

    - name: Test pack-solution action
      uses: ./pack-solution
      with:
        solution-folder: 'src/test/data/emptySolution'
        solution-file: 'out/CI/emptySolution.zip'
        solution-type: 'Unmanaged'
        error-level: Error
        localize: true

    - name: Test import-solution action with username/password
      uses: ./import-solution
      with:
        environment-url: ${{ steps.create-environment.outputs.environment-url }}
        user-name: ${{ env.WF_USERNAME }}
        password-secret: ${{ secrets.PASSWORD_PPDEVTOOLS }}
        solution-file: 'src/test/data/emptySolution_0_1_0_0.zip'
        force-overwrite: true
        run-asynchronously: true

    - name: Test delete-environment action with username/password
      if: always() # Clean up created environments even on failed run
      uses: ./delete-environment
      with:
        environment-url: ${{ steps.create-environment.outputs.environment-url }}
        user-name: ${{ env.WF_USERNAME }}
        password-secret: ${{ secrets.PASSWORD_PPDEVTOOLS }}

    - name: Upload pac CLI logs
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: pac-cli-log ${{ matrix.os }}
        path: ./dist/pac*/tools/logs/pac-log.txt

    - name: Upload test logs
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: Test Logs ${{ matrix.os }}
        path: ./out/logs/*-tests.log
